In [1]:
import os
import PIL
from PIL import Image
from keras.applications.vgg16 import preprocess_input, VGG16
from keras.models import load_model
import numpy as np

Using TensorFlow backend.

STAGE 1 EVALUATION

In [2]:
import pandas as pd

TEST_DATA = 'data/test_stg1_data.npy'
OUTPUT_FILE = 'kaggle/submission_stg1.csv'
METADATA = 'metadata.npy'

metadata = np.load(METADATA).item()

In [3]:
preds = np.load(TEST_DATA)
preds.shape

(1000, 9, 15, 512)

GB MODEL

In [4]:
from sklearn.externals import joblib

reshaped_preds = preds.reshape(preds.shape[0], -1)
print(reshaped_preds.shape)

gb_model = joblib.load("models/GB_Model.h5")
gb_model_proba = gb_model.predict_proba(reshaped_preds)
gb_model_proba

(1000, 69120)

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

array([[  3.23266257e-03,   4.68320650e-04,   4.82121861e-04, ...,
          3.21018189e-04,   1.87470694e-04,   2.75839382e-04],
       [  9.27721798e-01,   1.99619494e-03,   1.24038209e-03, ...,
          5.65005001e-03,   6.14061777e-04,   5.84959500e-02],
       [  9.82699394e-01,   2.64611910e-03,   6.99386699e-04, ...,
          9.59116127e-03,   3.09196301e-04,   2.51771300e-03],
       ...,
       [  9.92597342e-01,   1.26528391e-03,   3.44928849e-04, ...,
          2.59881979e-03,   2.14054700e-04,   1.42009195e-03],
       [  9.96565998e-01,   2.82617984e-04,   2.27744487e-04, ...,
          4.67284153e-05,   9.44609128e-05,   1.90737413e-03],
       [  3.89323622e-01,   4.53932770e-02,   6.07366301e-03, ...,
          3.19673508e-01,   1.01636173e-02,   1.65601343e-01]], dtype=float32)

In [5]:
DATA_FOLDER = 'original/test/test_stg1/'

files = os.listdir(DATA_FOLDER)
n_files = len(files)

cols = ['image','ALB','BET','DOL','LAG','NoF','OTHER','SHARK','YFT']
df_stg1 = pd.DataFrame(columns=cols)

df_stg1['image'] = [f for f in files]
df_stg1.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>image</th>
      <th>ALB</th>
      <th>BET</th>
      <th>DOL</th>
      <th>LAG</th>
      <th>NoF</th>
      <th>OTHER</th>
      <th>SHARK</th>
      <th>YFT</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>img_00005.jpg</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>img_00007.jpg</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>img_00009.jpg</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>img_00018.jpg</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>img_00027.jpg</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
for col in cols[1:]:
    df_stg1[col] = gb_model_proba[:, np.argmax(metadata[col])]

df_stg1.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>image</th>
      <th>ALB</th>
      <th>BET</th>
      <th>DOL</th>
      <th>LAG</th>
      <th>NoF</th>
      <th>OTHER</th>
      <th>SHARK</th>
      <th>YFT</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>img_00005.jpg</td>
      <td>0.003233</td>
      <td>0.000468</td>
      <td>0.000482</td>
      <td>0.000127</td>
      <td>0.994905</td>
      <td>0.000321</td>
      <td>0.000187</td>
      <td>0.000276</td>
    </tr>
    <tr>
      <th>1</th>
      <td>img_00007.jpg</td>
      <td>0.927722</td>
      <td>0.001996</td>
      <td>0.001240</td>
      <td>0.002479</td>
      <td>0.001803</td>
      <td>0.005650</td>
      <td>0.000614</td>
      <td>0.058496</td>
    </tr>
    <tr>
      <th>2</th>
      <td>img_00009.jpg</td>
      <td>0.982699</td>
      <td>0.002646</td>
      <td>0.000699</td>
      <td>0.000906</td>
      <td>0.000631</td>
      <td>0.009591</td>
      <td>0.000309</td>
      <td>0.002518</td>
    </tr>
    <tr>
      <th>3</th>
      <td>img_00018.jpg</td>
      <td>0.964661</td>
      <td>0.002265</td>
      <td>0.001043</td>
      <td>0.003393</td>
      <td>0.002310</td>
      <td>0.012589</td>
      <td>0.003627</td>
      <td>0.010111</td>
    </tr>
    <tr>
      <th>4</th>
      <td>img_00027.jpg</td>
      <td>0.349533</td>
      <td>0.015315</td>
      <td>0.003860</td>
      <td>0.003473</td>
      <td>0.012716</td>
      <td>0.255894</td>
      <td>0.014232</td>
      <td>0.344976</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
df_stg1.to_csv(OUTPUT_FILE, index=False)

STAGE 2 EVALUATION

In [8]:
TEST_DATA = 'data/test_stg2_data.npy'
OUTPUT_FILE = 'kaggle/submission_stg2.csv'

In [9]:
preds = np.load(TEST_DATA)
preds.shape

(12153, 9, 15, 512)

In [10]:
reshaped_preds = preds.reshape(preds.shape[0], -1)

gb_model_proba = gb_model.predict_proba(reshaped_preds)
gb_model_proba

array([[  7.47293174e-01,   2.27159318e-02,   2.68443115e-03, ...,
          4.09232220e-03,   3.98123451e-02,   7.72634894e-02],
       [  9.42928851e-01,   1.15907360e-02,   1.02386847e-02, ...,
          2.09597964e-03,   1.42103899e-03,   1.71237495e-02],
       [  6.90363288e-01,   2.16817502e-02,   8.05659126e-03, ...,
          1.39308702e-02,   6.75910152e-03,   1.94374397e-01],
       ...,
       [  6.77002370e-01,   3.15246172e-03,   6.76217664e-04, ...,
          1.16013794e-03,   1.21459493e-03,   3.24648507e-02],
       [  6.50433004e-01,   2.74824649e-02,   3.31773655e-03, ...,
          8.79697595e-03,   1.61930472e-02,   8.15736651e-02],
       [  3.42429936e-01,   6.68676123e-02,   8.71938188e-03, ...,
          4.69719758e-03,   4.54889145e-03,   6.32488430e-02]], dtype=float32)

In [11]:
DATA_FOLDER = 'original/test/test_stg2/'

files = os.listdir(DATA_FOLDER)
n_files = len(files)

cols = ['image','ALB','BET','DOL','LAG','NoF','OTHER','SHARK','YFT']
df_stg2 = pd.DataFrame(columns=cols)

df_stg2['image'] = ['test_stg2/' + f for f in files]
df_stg2.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>image</th>
      <th>ALB</th>
      <th>BET</th>
      <th>DOL</th>
      <th>LAG</th>
      <th>NoF</th>
      <th>OTHER</th>
      <th>SHARK</th>
      <th>YFT</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>test_stg2/image_00001.jpg</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>test_stg2/image_00002.jpg</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>test_stg2/image_00003.jpg</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>test_stg2/image_00004.jpg</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>test_stg2/image_00005.jpg</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [12]:
for col in cols[1:]:
    df_stg2[col] = gb_model_proba[:, np.argmax(metadata[col])]

df_stg2.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>image</th>
      <th>ALB</th>
      <th>BET</th>
      <th>DOL</th>
      <th>LAG</th>
      <th>NoF</th>
      <th>OTHER</th>
      <th>SHARK</th>
      <th>YFT</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>test_stg2/image_00001.jpg</td>
      <td>0.747293</td>
      <td>0.022716</td>
      <td>0.002684</td>
      <td>0.003153</td>
      <td>0.102985</td>
      <td>0.004092</td>
      <td>0.039812</td>
      <td>0.077263</td>
    </tr>
    <tr>
      <th>1</th>
      <td>test_stg2/image_00002.jpg</td>
      <td>0.942929</td>
      <td>0.011591</td>
      <td>0.010239</td>
      <td>0.001026</td>
      <td>0.013575</td>
      <td>0.002096</td>
      <td>0.001421</td>
      <td>0.017124</td>
    </tr>
    <tr>
      <th>2</th>
      <td>test_stg2/image_00003.jpg</td>
      <td>0.690363</td>
      <td>0.021682</td>
      <td>0.008057</td>
      <td>0.005228</td>
      <td>0.059606</td>
      <td>0.013931</td>
      <td>0.006759</td>
      <td>0.194374</td>
    </tr>
    <tr>
      <th>3</th>
      <td>test_stg2/image_00004.jpg</td>
      <td>0.528483</td>
      <td>0.015688</td>
      <td>0.003486</td>
      <td>0.003053</td>
      <td>0.411254</td>
      <td>0.010015</td>
      <td>0.006615</td>
      <td>0.021406</td>
    </tr>
    <tr>
      <th>4</th>
      <td>test_stg2/image_00005.jpg</td>
      <td>0.781626</td>
      <td>0.007710</td>
      <td>0.002541</td>
      <td>0.001817</td>
      <td>0.145784</td>
      <td>0.008274</td>
      <td>0.003082</td>
      <td>0.049166</td>
    </tr>
  </tbody>
</table>
</div>

In [13]:
df_stg2.to_csv(OUTPUT_FILE, index=False)

MERGE SUBMISSIONS

In [14]:
df1 = pd.read_csv('kaggle/submission_stg1.csv')
df1.sort_values('image', inplace=True)

df2 = pd.read_csv('kaggle/submission_stg2.csv')
df2.sort_values('image', inplace=True)

df = df1.append(df2)
df.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>image</th>
      <th>ALB</th>
      <th>BET</th>
      <th>DOL</th>
      <th>LAG</th>
      <th>NoF</th>
      <th>OTHER</th>
      <th>SHARK</th>
      <th>YFT</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>img_00005.jpg</td>
      <td>0.003233</td>
      <td>0.000468</td>
      <td>0.000482</td>
      <td>0.000127</td>
      <td>0.994905</td>
      <td>0.000321</td>
      <td>0.000187</td>
      <td>0.000276</td>
    </tr>
    <tr>
      <th>1</th>
      <td>img_00007.jpg</td>
      <td>0.927722</td>
      <td>0.001996</td>
      <td>0.001240</td>
      <td>0.002479</td>
      <td>0.001803</td>
      <td>0.005650</td>
      <td>0.000614</td>
      <td>0.058496</td>
    </tr>
    <tr>
      <th>2</th>
      <td>img_00009.jpg</td>
      <td>0.982699</td>
      <td>0.002646</td>
      <td>0.000699</td>
      <td>0.000906</td>
      <td>0.000631</td>
      <td>0.009591</td>
      <td>0.000309</td>
      <td>0.002518</td>
    </tr>
    <tr>
      <th>3</th>
      <td>img_00018.jpg</td>
      <td>0.964661</td>
      <td>0.002265</td>
      <td>0.001043</td>
      <td>0.003393</td>
      <td>0.002310</td>
      <td>0.012589</td>
      <td>0.003627</td>
      <td>0.010111</td>
    </tr>
    <tr>
      <th>4</th>
      <td>img_00027.jpg</td>
      <td>0.349533</td>
      <td>0.015315</td>
      <td>0.003860</td>
      <td>0.003473</td>
      <td>0.012716</td>
      <td>0.255894</td>
      <td>0.014232</td>
      <td>0.344976</td>
    </tr>
  </tbody>
</table>
</div>

In [15]:
df.to_csv('kaggle/submission.csv', index=False)