In [1]:
import os
import PIL
from PIL import Image
from keras.applications.vgg16 import preprocess_input, VGG16
from keras.models import load_model
import numpy as np

Using TensorFlow backend.

STAGE 1 EVALUATION

In [2]:
import pandas as pd

TEST_DATA = 'data/test_stg1_data.npy'
OUTPUT_FILE = 'kaggle/submission_stg1.csv'
METADATA = 'metadata.npy'

metadata = np.load(METADATA).item()

In [3]:
preds = np.load(TEST_DATA)
preds.shape

(1000, 9, 15, 512)

GB MODEL

In [4]:
from sklearn.externals import joblib

reshaped_preds = preds.reshape(preds.shape[0], -1)
print(reshaped_preds.shape)

gb_model = joblib.load("models/GB_Model_full.h5")
gb_model_proba = gb_model.predict_proba(reshaped_preds)
gb_model_proba

(1000, 69120)

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

array([[  2.02515256e-03,   7.58770111e-05,   1.11653309e-04, ...,
          1.18748845e-04,   5.48084354e-05,   1.24862141e-04],
       [  9.13687408e-01,   2.09170138e-03,   4.48957231e-04, ...,
          3.01361317e-03,   5.29781682e-04,   7.42792860e-02],
       [  9.85140264e-01,   1.83189043e-03,   3.48436268e-04, ...,
          9.20182839e-03,   5.01747942e-04,   1.86257251e-03],
       ...,
       [  9.89247262e-01,   1.51492713e-03,   4.88835445e-04, ...,
          3.44091398e-03,   2.59779510e-04,   3.49568040e-03],
       [  9.98115659e-01,   1.17771284e-04,   6.63024111e-05, ...,
          2.46796117e-05,   4.81959833e-05,   9.81417601e-04],
       [  4.39580142e-01,   4.10410091e-02,   2.85209855e-03, ...,
          2.40444258e-01,   4.98473318e-03,   2.20395789e-01]], dtype=float32)

In [5]:
DATA_FOLDER = 'original/test/test_stg1/'

files = os.listdir(DATA_FOLDER)
n_files = len(files)

cols = ['image','ALB','BET','DOL','LAG','NoF','OTHER','SHARK','YFT']
df_stg1 = pd.DataFrame(columns=cols)

df_stg1['image'] = [f for f in files]
df_stg1.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>image</th>
      <th>ALB</th>
      <th>BET</th>
      <th>DOL</th>
      <th>LAG</th>
      <th>NoF</th>
      <th>OTHER</th>
      <th>SHARK</th>
      <th>YFT</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>img_00005.jpg</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>img_00007.jpg</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>img_00009.jpg</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>img_00018.jpg</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>img_00027.jpg</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
for col in cols[1:]:
    df_stg1[col] = gb_model_proba[:, np.argmax(metadata[col])]

df_stg1.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>image</th>
      <th>ALB</th>
      <th>BET</th>
      <th>DOL</th>
      <th>LAG</th>
      <th>NoF</th>
      <th>OTHER</th>
      <th>SHARK</th>
      <th>YFT</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>img_00005.jpg</td>
      <td>0.002025</td>
      <td>0.000076</td>
      <td>0.000112</td>
      <td>0.000026</td>
      <td>0.997463</td>
      <td>0.000119</td>
      <td>0.000055</td>
      <td>0.000125</td>
    </tr>
    <tr>
      <th>1</th>
      <td>img_00007.jpg</td>
      <td>0.913687</td>
      <td>0.002092</td>
      <td>0.000449</td>
      <td>0.004466</td>
      <td>0.001484</td>
      <td>0.003014</td>
      <td>0.000530</td>
      <td>0.074279</td>
    </tr>
    <tr>
      <th>2</th>
      <td>img_00009.jpg</td>
      <td>0.985140</td>
      <td>0.001832</td>
      <td>0.000348</td>
      <td>0.000721</td>
      <td>0.000392</td>
      <td>0.009202</td>
      <td>0.000502</td>
      <td>0.001863</td>
    </tr>
    <tr>
      <th>3</th>
      <td>img_00018.jpg</td>
      <td>0.977126</td>
      <td>0.001601</td>
      <td>0.000502</td>
      <td>0.002055</td>
      <td>0.000652</td>
      <td>0.006909</td>
      <td>0.002360</td>
      <td>0.008794</td>
    </tr>
    <tr>
      <th>4</th>
      <td>img_00027.jpg</td>
      <td>0.309784</td>
      <td>0.010867</td>
      <td>0.001858</td>
      <td>0.001996</td>
      <td>0.008738</td>
      <td>0.410817</td>
      <td>0.014791</td>
      <td>0.241149</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
df_stg1.to_csv(OUTPUT_FILE, index=False)

STAGE 2 EVALUATION

In [8]:
TEST_DATA = 'data/test_stg2_data.npy'
OUTPUT_FILE = 'kaggle/submission_stg2.csv'

In [9]:
preds = np.load(TEST_DATA)
preds.shape

(12153, 9, 15, 512)

In [10]:
reshaped_preds = preds.reshape(preds.shape[0], -1)

gb_model_proba = gb_model.predict_proba(reshaped_preds)
gb_model_proba

array([[  5.08348107e-01,   5.32354414e-02,   2.25397456e-03, ...,
          3.16993613e-03,   3.49528342e-02,   1.82281554e-01],
       [  8.88468981e-01,   2.54254751e-02,   1.01893535e-02, ...,
          3.51058482e-03,   3.27865174e-03,   3.22888494e-02],
       [  7.83325136e-01,   2.91849393e-03,   2.06033164e-03, ...,
          5.10661583e-03,   2.23249337e-03,   1.05595820e-01],
       ...,
       [  6.94145203e-01,   7.84654915e-03,   5.83566027e-04, ...,
          4.18766052e-04,   1.04764663e-03,   9.44006369e-02],
       [  5.94689190e-01,   1.69490241e-02,   1.23028294e-03, ...,
          3.01293586e-03,   1.11382231e-02,   4.94304374e-02],
       [  5.72086453e-01,   3.77678052e-02,   2.25077430e-03, ...,
          2.14704126e-03,   1.51284377e-03,   4.21747491e-02]], dtype=float32)

In [11]:
DATA_FOLDER = 'original/test/test_stg2/'

files = os.listdir(DATA_FOLDER)
n_files = len(files)

cols = ['image','ALB','BET','DOL','LAG','NoF','OTHER','SHARK','YFT']
df_stg2 = pd.DataFrame(columns=cols)

df_stg2['image'] = ['test_stg2/' + f for f in files]
df_stg2.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>image</th>
      <th>ALB</th>
      <th>BET</th>
      <th>DOL</th>
      <th>LAG</th>
      <th>NoF</th>
      <th>OTHER</th>
      <th>SHARK</th>
      <th>YFT</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>test_stg2/image_00001.jpg</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>test_stg2/image_00002.jpg</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>test_stg2/image_00003.jpg</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>test_stg2/image_00004.jpg</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>test_stg2/image_00005.jpg</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [12]:
for col in cols[1:]:
    df_stg2[col] = gb_model_proba[:, np.argmax(metadata[col])]

df_stg2.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>image</th>
      <th>ALB</th>
      <th>BET</th>
      <th>DOL</th>
      <th>LAG</th>
      <th>NoF</th>
      <th>OTHER</th>
      <th>SHARK</th>
      <th>YFT</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>test_stg2/image_00001.jpg</td>
      <td>0.508348</td>
      <td>0.053235</td>
      <td>0.002254</td>
      <td>0.001534</td>
      <td>0.214224</td>
      <td>0.003170</td>
      <td>0.034953</td>
      <td>0.182282</td>
    </tr>
    <tr>
      <th>1</th>
      <td>test_stg2/image_00002.jpg</td>
      <td>0.888469</td>
      <td>0.025425</td>
      <td>0.010189</td>
      <td>0.001389</td>
      <td>0.035449</td>
      <td>0.003511</td>
      <td>0.003279</td>
      <td>0.032289</td>
    </tr>
    <tr>
      <th>2</th>
      <td>test_stg2/image_00003.jpg</td>
      <td>0.783325</td>
      <td>0.002918</td>
      <td>0.002060</td>
      <td>0.001055</td>
      <td>0.097706</td>
      <td>0.005107</td>
      <td>0.002232</td>
      <td>0.105596</td>
    </tr>
    <tr>
      <th>3</th>
      <td>test_stg2/image_00004.jpg</td>
      <td>0.931727</td>
      <td>0.002853</td>
      <td>0.000439</td>
      <td>0.000355</td>
      <td>0.050127</td>
      <td>0.001535</td>
      <td>0.000472</td>
      <td>0.012493</td>
    </tr>
    <tr>
      <th>4</th>
      <td>test_stg2/image_00005.jpg</td>
      <td>0.739975</td>
      <td>0.005534</td>
      <td>0.002243</td>
      <td>0.002232</td>
      <td>0.107559</td>
      <td>0.014229</td>
      <td>0.003854</td>
      <td>0.124373</td>
    </tr>
  </tbody>
</table>
</div>

In [13]:
df_stg2.to_csv(OUTPUT_FILE, index=False)

MERGE SUBMISSIONS

In [14]:
df1 = pd.read_csv('kaggle/submission_stg1.csv')
df1.sort_values('image', inplace=True)

df2 = pd.read_csv('kaggle/submission_stg2.csv')
df2.sort_values('image', inplace=True)

df = df1.append(df2)
df.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>image</th>
      <th>ALB</th>
      <th>BET</th>
      <th>DOL</th>
      <th>LAG</th>
      <th>NoF</th>
      <th>OTHER</th>
      <th>SHARK</th>
      <th>YFT</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>img_00005.jpg</td>
      <td>0.002025</td>
      <td>0.000076</td>
      <td>0.000112</td>
      <td>0.000026</td>
      <td>0.997463</td>
      <td>0.000119</td>
      <td>0.000055</td>
      <td>0.000125</td>
    </tr>
    <tr>
      <th>1</th>
      <td>img_00007.jpg</td>
      <td>0.913687</td>
      <td>0.002092</td>
      <td>0.000449</td>
      <td>0.004466</td>
      <td>0.001484</td>
      <td>0.003014</td>
      <td>0.000530</td>
      <td>0.074279</td>
    </tr>
    <tr>
      <th>2</th>
      <td>img_00009.jpg</td>
      <td>0.985140</td>
      <td>0.001832</td>
      <td>0.000348</td>
      <td>0.000721</td>
      <td>0.000392</td>
      <td>0.009202</td>
      <td>0.000502</td>
      <td>0.001863</td>
    </tr>
    <tr>
      <th>3</th>
      <td>img_00018.jpg</td>
      <td>0.977126</td>
      <td>0.001601</td>
      <td>0.000502</td>
      <td>0.002055</td>
      <td>0.000652</td>
      <td>0.006909</td>
      <td>0.002360</td>
      <td>0.008794</td>
    </tr>
    <tr>
      <th>4</th>
      <td>img_00027.jpg</td>
      <td>0.309784</td>
      <td>0.010867</td>
      <td>0.001858</td>
      <td>0.001996</td>
      <td>0.008738</td>
      <td>0.410817</td>
      <td>0.014791</td>
      <td>0.241149</td>
    </tr>
  </tbody>
</table>
</div>

In [15]:
df.to_csv('kaggle/submission.csv', index=False)